@media (max-width: 445px) {
    .top-line {
        background: #8b4513;
        color: white;
        padding: 0vh;
        display: none;
    }
    .top-line > .row > .d-flex {
        align-items: center;
        gap: 1vh 1vw;
        padding: 1vh 1vw;
        font-weight: 700;
        font-size: 10px;
    }
    .top-line > .row > .d-flex a {
        color: white;
        font-weight: 700;
        font-size: 10px;
    }

    nav img {
        width: 100px;
        height: auto;
    }
    nav button {
        border: none !important;
        color: #000 !important;
    }

    /* -----------------------------Home ----------------------------- */
    .Home > .first-container {
        background-image: linear-gradient(to right, #feba2a 92%, #feba2a 8%);
        border-radius: 40px;
        width: 95%;
        margin: 2vh auto;
    }
    .Home > .first-container .d-flex {
        align-items: center;
        justify-content: start;
        padding: 5vh 3vw;
    }
    .Home > .first-container .d-flex h5 {
        font-size: 20px;
    }
    .Home > .first-container .d-flex h1 {
        line-height: 35px;

        font-size: 40px;
    }
    .Home > .first-container .d-flex p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 5vh;
    }
    .Home > .first-container .d-flex a {
        border: none;
        background-color: #000;
        color: #fff;
        padding: 10px 30px;
        font-weight: 600;
        gap: 10px;
        border-radius: 5px;
    }

    .Home > .first-container .img {
        justify-content: end;
        padding: 0;
    }
    .Home > .first-container .img > img {
        width: 60%;
    }

    .Home > .second-container .row .col-lg-12 {
        padding: 0;
        height: 230px;
    }

    .Home > .second-container .row .position-relative .position-absolute {
        bottom: 0;
        left: 0;
        padding: 3vh 4vw;
        border-radius: 0px 20px 0px 0px;
        background: #fdba2ca6;
        display: block;
        transition: opacity 0.2s, transform 0.2s;
    }
    .Home > .second-container .row .position-relative:hover .position-absolute {
        display: block;
        animation: none;
        transition: opacity 0.2s, transform 0.2s;
    }

    .Home > .second-container .row .position-relative .position-absolute a {
        padding: 1vh 4vw;
    }

    .Home > .third-container > h2 {
        font-size: 22px;

        margin: 2vh auto;
    }
    .Home > .third-container > p {
        color: #737373;

        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;

        margin: 2vh auto;
    }
    .Home > .third-container > .row > .col-lg-2 {
        margin: 1vh auto;
        width: 45%;
    }
    .Home > .third-container > .row > .col-lg-2 img {
        width: 100%;
        height: 200px;
    }
    .Home > .third-container > .row > .col-lg-2 h4 {
        color: #feba2b;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        margin: 2vh 0vw;
    }

    .Home > .third-container > .row > .col-lg-2 h6 > span {
        color: #feba2a;
    }
    .Home > .third-container > a {
        padding: 1.5vh 3vw;
    }
    .Home > .forth-container .col-sm-6{
        width: 50%;
    }
    .Home > .fivth-container .col-sm{
width: 50%;
    }
    .Home > .forth-container .col-sm-6 img{
      height: 300px;
      margin: auto;
    }
  
    








    .Home > .sixth-container .row > .row{
        padding: 0;
        margin: 0;
    }

    
      .Home > .sixth-container .row > .row .position-relative {
        padding: 0 !important;

      }
      .Home .sixth-container .row > .row .position-relative img {
        width: 60%;
        height: auto;
      }
      .Home .sixth-container .row .sale {
        top: 15px;
        left: 22%;
        background: #e74040;
        padding: 1vh 5vw;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
      }
      .Home .sixth-container .row .icon {
        bottom: 10px;
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: 0vh 20%;
      }
      .Home .sixth-container .row .icon > span {
        background-color: #fff;
        padding: 1vh 1.5vw;
        border-radius: 50%;
      }
      .Home .sixth-container .row .col-lg-8 {
        align-items: center;
        text-align: left;
        margin: 3vh 3vw;
      }
      .Home .sixth-container .row .col-lg-8 > div > .d-flex {
        align-items: center;
        justify-content: space-between;
        width: 60%;
      }
      .Home .sixth-container .row .col-lg-8 .d-flex a {
        color: #feba2a;
      
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
      }
      .Home .sixth-container .row .col-lg-8 .d-flex span {
        background: #252b42;
        gap: 1vh;
        align-items: center;
        padding: 0.5vh 3vw;
        border-radius: 30px;
      }
      .Home .sixth-container .row .col-lg-8 .d-flex i {
        color: #feba2a;
      }
      .Home .sixth-container .row .col-lg-8 .d-flex p {
        margin: 0;
        color: white;
 
        width: 60%;
      }
      .Home .sixth-container .row .col-lg-8 h4 {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
      
        text-align: left;
      }
      .Home .sixth-container .row .col-lg-8 p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
      }
      .Home .sixth-container .row .col-lg-8 .sale {
        background: transparent;
        width: 90px !important;
        padding: 0;
        align-items: center;
      }
      .Home .sixth-container .row .col-lg-8 .sale i {
        color: #737373;
      }
      .Home .sixth-container .row .col-lg-8 .sale p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        color: #737373;
        margin: 0;
        padding: 0;
      }
      .Home .sixth-container .row .col-lg-8 h6 {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
      }
      .Home .sixth-container .row .col-lg-8 h6 span {
        color: #feba2a;
        margin: 0vh 1vw;
      }
      .Home .sixth-container .row .col-lg-8 .item-color {
        width: 120px !important;
      }
      .Home .sixth-container .row .col-lg-8 .item-color span {
        padding: 1vh;
      }
      
      .Home .sixth-container .row .col-lg-8 .product-features {
        margin: 3vh 0vw;
        gap: 1vh;
      }
      .Home .sixth-container .row .col-lg-8 .product-features span {
        margin: 0vh 0.5vw;
      }
      .Home .sixth-container .row .col-lg-8 .button {
        color: #23a6f0;
        border: 2px solid #23a6f0;
        border-radius: 50px;
        padding: 1vh 3vw;
        font-weight: 700;
      }





/* -----------------------------Footer ----------------------------- */
footer {
    background-image: linear-gradient(to top,  #feba2b 93% ,#fff 7%);
    min-height: 60vh;
  }
  footer >.first-container-footer{
    background: #8B4513;
  border-radius: 20px;
  width: 80%;
  }
  
  footer >.first-container-footer>.row>.col-lg-6{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
  }
  footer >.first-container-footer>.row>.col-lg-6 h1{
    font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  
  }
  footer >.first-container-footer>.row>.col-lg-6 form input{
    border: none;
    padding: 1vh 3vw;
  width: 300px;
  margin: 1vh 0vw;
  border-radius: 30px;
  }
  footer >.first-container-footer>.row>.col-lg-6 form button{
    border: none;
    padding: 1vh 1vw;
  width: 300px;
  border-radius: 30px;
  background: #fff;
  color: #feba2a;
  font-weight: 700;
  }
  footer  .row {
    width: 90%;
    margin: auto;
  }
  footer  .row .col-md-6{
    margin: 3vh auto !important;
  }
  footer >.row>.col-lg-3 p{
  
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin: 1vh 0vw;
  
  }
  footer >.row>.col-lg-3 .d-flex{
    justify-content: space-between;
  
  }
  
  footer  .row .col-lg-3 img{
    width: 40%;
  }
  footer  .row .col-lg-2 {
    margin: 2vh 0vw;
  }
  footer  .row .col-lg-2 h6{
    font-size: 20px;
    font-weight: 700;
  }
  footer  .row .col-lg-2 ul{
    padding: 0;
  }
  footer  .row .col-lg-2 ul li{
    list-style: none;margin: 1vh 0vw;
  }
  footer  .row .col-lg-2 ul li a{
  
    font-size: 18px;
    /* font-weight: 500; */
   color: #00000099;
  
  }
  footer  >.container>.d-flex{
    justify-content: space-between;
    align-items: center;
  }
  footer  .d-flex>.d-flex> span{
    background: #fff;
    margin: 1vh 0.5vw;
    padding: 5px 10px;
    border-radius: 50%;
  }
  footer  .d-flex .logos >img{
    width: 200px;
  }










}
